#mc-workbench-container {
  position: fixed;
  width: 33.3%;
  z-index: 999999;
  height: inherit;
  top: 0;
  right: 0;
  overflow: scroll;
}
#mc-workbench-container, #mc-workbench-body {
  background: #fff;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  cursor: pointer;
}
#mc-workbench-title {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  background: #E8E8E8;
  color: #676A6B;
  font-weight: bold;
}
#mc-workbench-menu-toggle {
  font-size: 12px;
  display: block;
  margin-top: 8px;
}
#mc-workbench-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
#mc-workbench-menu.inactive {
  display: none;
}
#mc-workbench-menu > li {
  background: white;
  color: #0D82A5;
  font-size: 18px;
  padding: 10px 10px 10px;
  border-bottom: 1px solid #D2CACA;
  text-align: center;
}
#mc-workbench-menu .menuTip {
  display: block;
  font-size: 14px;
}
#mc-workbench-widgettitle {
  color: #435058;
  padding: 15px 5px 10px;
  border-bottom: 1px solid #70a2f9;
  font-size: 16px;
  margin-top: 10px;
}
#mc-workbench-widgetlist li {
  background: white;
  color: #3E545A;
  font-size: 14px;
  padding: 10px 10px 10px;
  border-bottom: 1px solid #D2CACA;
}
