.inactive {
  display: none !important;
}
#mc-workbench-container {
  position: fixed;
  width: 33.3%;
  z-index: 999999;
  height: inherit;
  top: 0;
  right: 0;
  overflow-y: scroll;
  border-left: 1px solid #D0D0D0;
}
#mc-workbench-container, #mc-workbench-body {
  background: #fff;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  cursor: pointer;
}
#mc-workbench-title {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  background: #E8E8E8;
  color: #676A6B;
  font-weight: bold;
}
#mc-workbench-menu-toggle {
  font-size: 12px;
  display: block;
  margin-top: 8px;
}
#mc-workbench-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
#mc-workbench-menu > li {
  background: white;
  color: #0D82A5;
  font-size: 18px;
  padding: 10px 10px 10px;
  border-bottom: 1px solid #D2CACA;
  text-align: center;
}
#mc-workbench-menu .menuTip {
  display: block;
  font-size: 14px;
}
#mc-workbench-widget-title, #mc-workbench-widget-name {
  color: #435058;
  padding: 15px 5px 10px;
  border-bottom: 1px solid #70a2f9;
  font-size: 16px;
  margin-top: 10px;
}
#mc-workbench-widget-list li {
  background: white;
  color: #3E545A;
  font-size: 14px;
  padding: 10px 10px 10px;
  border-bottom: 1px solid #D2CACA;
}
#mc-workbench-selector-title, #mc-workbench-settings-title {
  font-size: 14px;
  color: #333;
  padding: 10px;
}
#mc-workbench-selector-container, #mc-workbench-settings-container {
  padding: 0 10px;
}
.prop-label {
  display: block;
  font-size: 13px;
  color: #0D82A5;
  margin-bottom: 2px;
}
.prop-input {
  display: inline-block !important;
  width: 80% !important;
  border-radius: 2px !important;
  -webkit-appearance: none !important;
  border: 1px solid #E2DFDF !important;
  padding: 7px !important;
  margin-bottom: 10px !important;
  font-weight: normal !important;
  font-size: 11px !important;
}
.prop-button {
  display: inline-block;
  left: 10px;
  position: relative;
  background: #0D82A5;
  color: white;
  padding: 6px;
  border-radius: 5px;
}
#mc-workbench-export-modal {
  position: absolute;
  margin: auto;
  top: 68px;
  left: 0;
  right: 0;
  width: 90%;
  background: #E8E8E8;
  border-radius: 2px;
  border: 1px solid #D0D0D0;
}
#mc-workbench-export-modal-close {
  background: #0D82A5;
  position: absolute;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  right: -8px;
  top: -10px;
  font-size: 16px;
}
#mc-workbench-export-modal-title {
  margin: 20px 10px 0;
  color: #0D82A7;
  font-size: 16px;
  border-bottom: 1px solid #0D82A7;
}
#mc-workbench-export-modal-subtitle {
  margin: 10px;
  color: #555;
}
#mc-workbench-export-modal-box {
  resize: none;
  position: relative;
  margin: 10px auto;
  display: block;
  width: 95%;
}
